<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SMA Productos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Ingresar Codigo de Barra" (ionInput)="buscarProducto($event.target.value)"></ion-searchbar>
  <ion-card *ngIf="producto">
      <img src="img/nin-live.png"/>
      <ion-card-content>
        <ion-card-title>
          {{producto.itemCode}}
          </ion-card-title>
          <p>
              {{producto.itemName}}
            </p>
      </ion-card-content>
    </ion-card>
<div *ngIf="producto">
       
        

      </div>
  
</ion-content>
